{{ form.csrf_token }}
{% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
{% endif %}

{% if form.errors %}
    <p> {{form.errors.items()}}</p>
{% endif %}

{{form.submit()}}
<form method="POST" action="/login">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}

    {{form.user_email.label}}{{form.user_email}}<br>
    {{form.user_pass.label}}{{form.user_pass}}<br>

    {% if form.errors %}
        <p> {{form.errors.items()}}</p>
    {% endif %}

    {{form.submit()}}
</form>