<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Titles</title>
</head>
<body>
        {% for item in data %}
        <tr>
            <td><a href="/bookinfo/{{item['book_id']}}">{{item['title']}}</a></td>
            <td>{{item.pubyear}}</td>
            <td>{{item.isbn}}</td>
            <td>{{item.['isbn13']}}</td>
            <td>{{item.['pubname']}}</td>
        </tr>
        {% endfor %}
</body>
</html>
