<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    <h1>{{title}}</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>ISBN</th>
            <th>ISBN13</th>
            <th>Publisher</th>
        </tr>

        {% for item in data %}
        <tr>
            <td><a href="/bookinfo/{item['book_id{}}">{{item['title']}}</a></td>
            <td>{{item.pubyear}}</td>
            <td>{{item.isbn}}</td>
            <td>{{item['isbn13']}}</td>
            <td>{{item['pubname']}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
