<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Titles</title>
</head>
<body>
    <form action="/byyear" method="POST">
            <ul>
                {% for book in books %}
                    <li>{{ book.title }} by {{ book.author }}</li>
                {% endfor %}
            </ul>
        </form>
    
</body>
</html>
