<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylecsscss" href="style.css">

    <title>Bryton's Book Lover's App</title>
</head>
<body>
        <h1>Bryton's Book Lover's App</h1>

        <ul>
            <li class="listHeader"><span>Actions</span></li>
            <li><a href="/bytitle">Search Books by Title</a></li>
            <li></li>
            <li></li>
        </ul>
</body>
</html>